<!DOCTYPE html>
<html ng-app="interactiveMap">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title></title>
	<link rel="stylesheet" href="styles.css">
	<script type="text/javascript" src="state-objects.js"></script>
	<script type="text/javascript" src="angular.min.js"></script>
	<script type="text/javascript" src="controller2.js"></script>
</head>
<body>

<div id="wrapper" ng-controller="interactiveMapCntrl">
		<div class="arrow-holder"><div class="arrow-down" style="margin-left:50%"></div></div>
		<div id="republican-count">Republican &nbsp&nbsp&nbsp&nbsp<span class="title">{{republican}}</span></div>
		<div id="democrat-count">Democrat &nbsp&nbsp&nbsp&nbsp <span class="title">{{democrat}}</div>		
		</span>

		<div id="bar">
			<div id="republican" ng-style="{'width' : redwidth}"></div>
			<div id="open" ng-style="{'width' : openwidth}">{{open}}</div>
			<div id="democrat" ng-style="{'width' : bluewidth}"></div>

		</div>
			
		<div class="arrow-holder"><div class="arrow-up" style="margin-left:50%"></div></div>

		<div id="main-section">
			<div id = "svg-container">
				<svg width="750" height="500" id="svg">
					<g class="states" ng-repeat="state in states" click-state ng-click="getNewColor(state)">
						<path class="{{state.stateColor}}" ng-attr-d="{{state.vector}}" stroke="white"></path>
						<foreignObject ng-show="state.nameX != ''" ng-attr-x={{state.nameX}} ng-attr-y={{state.nameY}}>
							<div class="state-info">
								{{state.abbr}}<br />
								{{state.electoralVotes}}
							</div>
						</foreignObject>
					</g>

				</svg>
				<div id="small-states-container">
			        <table cellspacing="5">
			            <tbody>
				            <tr><td class="{{states[20].stateColor}}" style="width: 20px; height: 20px;" ng-click="getNewColor(states[20])">11</td><td class="small-state">MA</td></tr>
				            <tr><td class="{{states[38].stateColor}}" style="width: 20px; height: 20px;" ng-click="getNewColor(states[38])">4</td><td class="small-state">RI</td></tr>
				            <tr><td class="{{states[6].stateColor}}" style="width: 20px; height: 20px;" ng-click="getNewColor(states[6])">7</td><td class="small-state">CT</td></tr>
				            <tr><td class="{{states[29].stateColor}}" style="width: 20px; height: 20px;" ng-click="getNewColor(states[29])">14</td><td class="small-state">NJ</td></tr>
				            <tr><td class="{{states[7].stateColor}}" style="width: 20px; height: 20px;" ng-click="getNewColor(states[7])">3</td><td class="small-state">DE</td></tr>
				            <tr><td class="{{states[48].stateColor}}" style="width: 20px; height: 20px;" ng-click="getNewColor(states[48])">10</td class="small-state"><td>MD</td></tr>
				            <tr><td class="{{states[8].stateColor}}" style="width: 20px; height: 20px;" ng-click="getNewColor(states[8])">3</td><td class="small-state">DC</td></tr>	            
			        	</tbody>
			        </table>
			    </div>
		    </div>
	    </div>
	<button ng-click = "reset()">Reset Map</button>
</div>
	
</body>
</html>